#  Pre modeling : Data Preprocessing and Feature Exploration in python

A) TASK# given attributes about the person to say their income is <=50k or >50k

In [1]:
import pandas as pd
import numpy as np

r is used before the address to declare it is a raw string where backslashes are not interpret the address

In [2]:
df= pd.read_csv(r"C:\Users\User\Downloads\adult.csv\adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
print(df["income"].value_counts())

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [5]:
# if income <=50k then it will show as 0 or it will >50k it shows as 1
df['income'] = [0 if x=='<=50k' else 1 for x in df['income']]

In [6]:
# we are creating x as the data frame of features and  Y as the series
x = df.drop('income',1)
y = df.income

C:\Users\User\AppData\Local\Temp\ipykernel_17956\1583005712.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df.drop('income',1)

In [7]:
print(x.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country
0              40  United-States
1              50  United-States
2              40  United-States
3              40  United-States
4              30  United-States

In [8]:
print(y.head(10))

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: income, dtype: int64

# Data cleaning
**B) the next process is to clean by removing duplicates, feature scaling, data types and so on

In [9]:
print(x['education'].head())

0            11th
1         HS-grad
2      Assoc-acdm
3    Some-college
4    Some-college
Name: education, dtype: object

In [10]:
# one of the important technique  in python is label encoding/ one hot encoding/ get dummies
# it can change categorical features into 0's and 1's 

print(pd.get_dummies(x['education']).head())

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  Assoc-acdm  Assoc-voc  \
0     0     1     0        0        0        0    0           0          0
1     0     0     0        0        0        0    0           0          0
2     0     0     0        0        0        0    0           1          0
3     0     0     0        0        0        0    0           0          0
4     0     0     0        0        0        0    0           0          0

   Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0          0          0        0        0          0            0
1          0          0        1        0          0            0
2          0          0        0        0          0            0
3          0          0        0        0          0            0
4          0          0        0        0          0            0

   Some-college
0             0
1             0
2             0
3             1
4             1

In [11]:
#  next process to decide which category we are going to use to predict our model
# first have to see unique features and predict which suits the most



for col_name in x.columns:
    if x[col_name].dtypes =='object':
        unique_cat = len(x[col_name].unique())
        print ("Feature {col_name} has {unique_cat} unique categories". format (col_name=col_name, unique_cat =unique_cat))

Feature workclass has 9 unique categories
Feature education has 16 unique categories
Feature marital-status has 7 unique categories
Feature occupation has 15 unique categories
Feature relationship has 6 unique categories
Feature race has 5 unique categories
Feature gender has 2 unique categories
Feature native-country has 42 unique categories

# here we assigning x columns as col_name and checking for the unique categories and count its length
# after those xcolumns and unique categories will be printed in format like . format (col_name=col_name, unique_cat =unique_cat)
# and using placeholders the return statement was printed

In [12]:
# we found that native-country has 42 unique categories which is a high frequency than the others.
# so now check the native country column
print(x['native-country'].value_counts().sort_values(ascending=False).head(10))

United-States    43832
Mexico             951
?                  857
Philippines        295
Germany            206
Puerto-Rico        184
Canada             182
El-Salvador        155
India              151
Cuba               138
Name: native-country, dtype: int64

In [13]:
#if there is many low  frequency categories then those things are categorized into one single thing as dummy
#so the maximum or high probability frequency will help to predict the model \
# so the remaining low frequency are categorised as other
x['native-country'] = ['United-States' if x== 'United-States'else 'Other' for x in x['native-country']]
print(x['native-country'].value_counts().sort_values(ascending=False))

United-States    43832
Other             5010
Name: native-country, dtype: int64

In [14]:
# now we create native country feature to use further so other features have to be dummmy. 
todummy_list = ['workclass','fnlwgt','education','educational-num','marital-status','occupation','relationship',
                'race','gender','capital-gain','capital-loss','hours-per-week','native-country','income']

In [15]:
def dummy_df(df,todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x],prefix=x,dummy_na= False)
# Remove the original categorical column from the DataFrame
        df = df.drop(x,1)        
# Concatenate the one-hot encoded columns to the DataFrame
        df = pd.concat([df,dummies], axis=1)
        return df

In [16]:
x= dummy_df(x, todummy_list)
print(x.head())

   age  fnlwgt     education  educational-num      marital-status  \
0   25  226802          11th                7       Never-married
1   38   89814       HS-grad                9  Married-civ-spouse
2   28  336951    Assoc-acdm               12  Married-civ-spouse
3   44  160323  Some-college               10  Married-civ-spouse
4   18  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  ...  \
0  Machine-op-inspct    Own-child  Black    Male             0  ...
1    Farming-fishing      Husband  White    Male             0  ...
2    Protective-serv      Husband  White    Male             0  ...
3  Machine-op-inspct      Husband  Black    Male          7688  ...
4                  ?    Own-child  White  Female             0  ...

   native-country  workclass_? workclass_Federal-gov  workclass_Local-gov  \
0   United-States            0                     0                    0
1   United-States            0                     0                    0
2   United-States            0                     0                    1
3   United-States            0                     0                    0
4   United-States            1                     0                    0

   workclass_Never-worked  workclass_Private  workclass_Self-emp-inc  \
0                       0                  1                       0
1                       0                  1                       0
2                       0                  0                       0
3                       0                  1                       0
4                       0                  0                       0

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay
0                           0                    0                      0
1                           0                    0                      0
2                           0                    0                      0
3                           0                    0                      0
4                           0                    0                      0

[5 rows x 22 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_17956\1520148412.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x,1)

# Removing null values

In [17]:
x.isnull().sum().sort_values(ascending = False).head(25)

age                           0
fnlwgt                        0
workclass_State-gov           0
workclass_Self-emp-not-inc    0
workclass_Self-emp-inc        0
workclass_Private             0
workclass_Never-worked        0
workclass_Local-gov           0
workclass_Federal-gov         0
workclass_?                   0
native-country                0
hours-per-week                0
capital-loss                  0
capital-gain                  0
gender                        0
race                          0
relationship                  0
occupation                    0
marital-status                0
educational-num               0
education                     0
workclass_Without-pay         0
dtype: int64

In [18]:
# so there is no null values in our dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB